In [87]:
# importamos las librerias
import pandas as pd
import numpy as np
import re
import datetime

In [32]:
# nos traemos el fichero a un DataFrame
df = pd.read_csv(r'lineas_spv_sn.csv', encoding='ISO-8859-9', sep=';')

In [33]:
df.head(20)

,Fecha,Numero_Factura,Cantidad,SPV,Averia,Referencia
0,2022-07-26,NaN,0,L22001,"el cliente no lo quiere , le ha llegado en 3 días una unidad dela rticulo ASU 0060",NaN
1,2022-01-03,NaN,1,C22001,SN 342012503155 NO se enciende,PH 9485
2,2022-01-03,08-N/21-03679,1,B22001,nº serie 5605922026913 error a59,PH 9220
3,2022-01-04,NaN,1,C22002,"SN 241806532368 Cuando deja de recibir corriente, dura unos segundos y se apaga.",PH 9465
4,2022-01-12,NaN,1,C22003,SN 300131AS30000060 cuando se va la corriente y vuelve no se rearma. Hay que desconecarlo de la luz y volverlo a conectar. No conectar con su aplicación por USB.,PH 9220
...,...,...,...,...,...,...
15,2022-01-24,NaN,1,C22010,"SN 83321910101137 Despues del rearme, al poco tiempo sale error 41 en el display.",PH 9330
16,2022-01-25,NaN,1,C22011,SN 3001320N30000032 Estando trabajando se apaga sin previo aviso. Todas las bat estaban por debajo de 5V. Las cambié por unas nuevas y empezó a funcionar durante 4 horas. Luego comenso a pitar y marcar error 59 y otra vez las baterías estaban por debajo de 6V y ya no encendió.,PH 9230
17,2022-02-02,NaN,1,C22012,SN 342104504335,PH 9408
18,2022-02-02,NaN,1,C22013,SN 83922010100223 No enciende.,PH 9270
19,2022-02-04,NaN,1,C22015,SN 442101509071 Falla al tener carga.,PH 9410

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fecha           325 non-null    object
 1   Numero_Factura  137 non-null    object
 2   Cantidad        325 non-null    int64
 3   SPV             325 non-null    object
 4   Averia          325 non-null    object
 5   Referencia      324 non-null    object
dtypes: int64(1), object(5)
memory usage: 15.4+ KB

In [35]:
df.columns

Index(['Fecha', 'Numero_Factura', 'Cantidad', 'SPV', 'Averia', 'Referencia'], dtype='object')

In [38]:
df.Averia.str.contains('\d{8,}')

0      False
1       True
2       True
3       True
4       True
       ...
320    False
321    False
322    False
323    False
324    False
Name: Averia, Length: 325, dtype: bool

In [58]:
df['SN'] = df.Averia.str.extract(r'(\w{8,})')

In [60]:
df.head(20)

,Fecha,Numero_Factura,Cantidad,SPV,Averia,Referencia,SN
0,2022-07-26,NaN,0,L22001,"el cliente no lo quiere , le ha llegado en 3 días una unidad dela rticulo ASU 0060",NaN,NaN
1,2022-01-03,NaN,1,C22001,SN 342012503155 NO se enciende,PH 9485,342012503155
2,2022-01-03,08-N/21-03679,1,B22001,nº serie 5605922026913 error a59,PH 9220,5605922026913
3,2022-01-04,NaN,1,C22002,"SN 241806532368 Cuando deja de recibir corriente, dura unos segundos y se apaga.",PH 9465,241806532368
4,2022-01-12,NaN,1,C22003,SN 300131AS30000060 cuando se va la corriente y vuelve no se rearma. Hay que desconecarlo de la luz y volverlo a conectar. No conectar con su aplicación por USB.,PH 9220,300131AS30000060
...,...,...,...,...,...,...,...
15,2022-01-24,NaN,1,C22010,"SN 83321910101137 Despues del rearme, al poco tiempo sale error 41 en el display.",PH 9330,83321910101137
16,2022-01-25,NaN,1,C22011,SN 3001320N30000032 Estando trabajando se apaga sin previo aviso. Todas las bat estaban por debajo de 5V. Las cambié por unas nuevas y empezó a funcionar durante 4 horas. Luego comenso a pitar y marcar error 59 y otra vez las baterías estaban por debajo de 6V y ya no encendió.,PH 9230,3001320N30000032
17,2022-02-02,NaN,1,C22012,SN 342104504335,PH 9408,342104504335
18,2022-02-02,NaN,1,C22013,SN 83922010100223 No enciende.,PH 9270,83922010100223
19,2022-02-04,NaN,1,C22015,SN 442101509071 Falla al tener carga.,PH 9410,442101509071

In [13]:
In [7]: df = pd.DataFrame({'dt':[str(num)+'/' + str(2000+num) for num in range(5)], 'name':list('victo')})

In [14]:
df

       dt name
0  0/2000    v
1  1/2001    i
2  2/2002    c
3  3/2003    t
4  4/2004    o

In [15]:
df.dt.str.extract(r"(\d+)")

   0
0  0
1  1
2  2
3  3
4  4

In [123]:
dfsn = pd.read_csv('Numeros de serie sais 18-22.csv', sep=';', encoding='latin')

In [114]:
dfsn.head(20)

,Mov Alm -> Referencia,Número de Serie,Mov Alm -> Fecha,Mov Alm -> Salidas,Mov Alm -> Entradas,Mov Alm -> Cantidad con signo
0,PH 7210,3200437X30000043,19-Dic-2018,4,0,-4
1,PH 7210,3200437X30000044,19-Dic-2018,4,0,-4
2,PH 7210,3200437X30000045,19-Dic-2018,4,0,-4
3,PH 7210,3200437X30000207,19-Dic-2018,4,0,-4
4,PH 7210,3200437X30000071,19-Dic-2018,2,0,-2
...,...,...,...,...,...,...
15,PH 7210,3200437X30000235,21-Ene-2019,4,0,-4
16,PH 7210,3200437X30000236,21-Ene-2019,4,0,-4
17,PH 7210,3200437X30000237,21-Ene-2019,4,0,-4
18,PH 7210,3200437X30000239,21-Ene-2019,4,0,-4
19,PH 7210,3200437X30000066,11-Feb-2019,10,0,-10

In [115]:
dfsn.columns

Index(['Mov Alm -> Referencia', 'Número de Serie', 'Mov Alm -> Fecha',
       'Mov Alm -> Salidas', 'Mov Alm -> Entradas',
       'Mov Alm -> Cantidad con signo'],
      dtype='object')

In [116]:
dfsn.rename(columns={'Mov Alm -> Referencia': 'Referencia', 'Número de Serie': 'SN', 'Mov Alm -> Fecha': 'Fecha',
       'Mov Alm -> Salidas': 'Salidas', 'Mov Alm -> Entradas': 'Entradas',
       'Mov Alm -> Cantidad con signo': 'Cantidad_Signo'}, inplace=True)

In [117]:
dfsn.head()

  Referencia                SN        Fecha  Salidas  Entradas  Cantidad_Signo
0    PH 7210  3200437X30000043  19-Dic-2018        4         0              -4
1    PH 7210  3200437X30000044  19-Dic-2018        4         0              -4
2    PH 7210  3200437X30000045  19-Dic-2018        4         0              -4
3    PH 7210  3200437X30000207  19-Dic-2018        4         0              -4
4    PH 7210  3200437X30000071  19-Dic-2018        2         0              -2

In [101]:
dfsn.Fecha.replace(to_replace=r'Ene', value='Jan', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'Feb', value='Feb', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'Mar', value='Mar', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'Abr', value='Apr', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'May', value='May', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'Jun', value='Jun', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'Jul', value='Jul', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'Ago', value='Aug', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'Sep', value='Sep', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'Oct', value='Oct', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'Nov', value='Nov', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'Dic', value='Dec', regex=True, inplace=True)

In [118]:
dfsn.Fecha.replace(to_replace=r'-Ene-', value='/01/', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'-Feb-', value='/02/', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'-Mar-', value='/03/', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'-Abr-', value='/04/', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'-May-', value='/05/', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'-Jun-', value='/06/', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'-Jul-', value='/07/', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'-Ago-', value='/08/', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'-Sep-', value='/09/', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'-Oct-', value='/10/', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'-Nov-', value='/11/', regex=True, inplace=True)
dfsn.Fecha.replace(to_replace=r'-Dic-', value='/12/', regex=True, inplace=True)

In [119]:
dfsn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34366 entries, 0 to 34365
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Referencia      34366 non-null  object
 1   SN              34366 non-null  object
 2   Fecha           34366 non-null  object
 3   Salidas         34366 non-null  int64
 4   Entradas        34366 non-null  int64
 5   Cantidad_Signo  34366 non-null  int64
dtypes: int64(3), object(3)
memory usage: 1.6+ MB

In [120]:
dfsn.head(50)

   Referencia                SN       Fecha  Salidas  Entradas  Cantidad_Signo
0     PH 7210  3200437X30000043  19/12/2018        4         0              -4
1     PH 7210  3200437X30000044  19/12/2018        4         0              -4
2     PH 7210  3200437X30000045  19/12/2018        4         0              -4
3     PH 7210  3200437X30000207  19/12/2018        4         0              -4
4     PH 7210  3200437X30000071  19/12/2018        2         0              -2
5     PH 7210  3200437X30000072  19/12/2018        2         0              -2
6     PH 7210  3200437X30000064   9/01/2019        4         0              -4
7     PH 7210  3200437X30000067   9/01/2019        4         0              -4
8     PH 7210  3200437X30000068   9/01/2019        4         0              -4
9     PH 7210  3200437X30000069   9/01/2019        4         0              -4
10    PH 7210  3200437X30000061  16/01/2019        5         0              -5
11    PH 7210  3200437X30000062  16/01/2019        5         0              -5
12    PH 7210  3200437X30000063  16/01/2019        5         0              -5
13    PH 7210  3200437X30000238  16/01/2019        5         0              -5
14    PH 7210  3200437X30000240  16/01/2019        5         0              -5
15    PH 7210  3200437X30000235  21/01/2019        4         0              -4
16    PH 7210  3200437X30000236  21/01/2019        4         0              -4
17    PH 7210  3200437X30000237  21/01/2019        4         0              -4
18    PH 7210  3200437X30000239  21/01/2019        4         0              -4
19    PH 7210  3200437X30000066  11/02/2019       10         0             -10
20    PH 7210  3200438Q30000325  11/02/2019       10         0             -10
21    PH 7210  3200438Q30000326  11/02/2019       10         0             -10
22    PH 7210  3200438Q30000327  11/02/2019       10         0             -10
23    PH 7210  3200438Q30000331  11/02/2019       10         0             -10
24    PH 7210  3200438Q30000332  11/02/2019       10         0             -10
25    PH 7210  3200438Q30000333  11/02/2019       10         0             -10
26    PH 7210  3200438Q30000352  11/02/2019       10         0             -10
27    PH 7210  3200438Q30000353  11/02/2019       10         0             -10
28    PH 7210  3200438Q30000354  11/02/2019       10         0             -10
29    PH 7210  3200438Q30000355  26/03/2019        1         0              -1
30    PH 7210  3200438Q30000356   5/04/2019        5         0              -5
31    PH 7210  3200438Q30000357   5/04/2019        5         0              -5
32    PH 7210  3200438Q30000364   5/04/2019        5         0              -5
33    PH 7210  3200438Q30000365   5/04/2019        5         0              -5
34    PH 7210  3200438Q30000366   5/04/2019        5         0              -5
35    PH 7210  3200438Q30000335  11/04/2019        5         0              -5
36    PH 7210  3200438Q30000336  11/04/2019        5         0              -5
37    PH 7210  3200438Q30000367  11/04/2019        5         0              -5
38    PH 7210  3200438Q30000368  11/04/2019        5         0              -5
39    PH 7210  3200438Q30000369  11/04/2019        5         0              -5
40    PH 7210  3200438Q30000337  16/04/2019        4         0              -4
41    PH 7210  3200438Q30000338  16/04/2019        4         0              -4
42    PH 7210  3200438Q30000339  16/04/2019        4         0              -4
43    PH 7210  3200438Q30000378  16/04/2019        4         0              -4
44    PH 7210  3200438Q30000334  23/04/2019        4         0              -4
45    PH 7210  3200438Q30000361  23/04/2019        4         0              -4
46    PH 7210  3200438Q30000362  23/04/2019        4         0              -4
47    PH 7210  3200438Q30000363  23/04/2019        4         0              -4
48    PH 7210  3200438Q30000248   9/05/2019        1         0              -1
49    PH 7210  3200438q30000251  20/05/2019        1         0              -1

In [124]:
pd.to_datetime(['Fecha'])

ParserError: Unknown string format: Fecha present at position 0