In [3]:
import pandas as pd
import numpy as np

In [4]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
movies = pd.read_csv('http://bit.ly/imdbratings')
orders = pd.read_csv('http://bit.ly/chiporders', sep='\t')
orders['item_price'] = orders.item_price.str.replace('$', '').astype('float')
stocks = pd.read_csv('http://bit.ly/smallstocks', parse_dates=['Date'])
titanic = pd.read_csv('http://bit.ly/kaggletrain')
ufo = pd.read_csv('http://bit.ly/uforeports', parse_dates=['Time'])

C:\Users\carlo\AppData\Local\Temp\ipykernel_26244\4120524219.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  orders['item_price'] = orders.item_price.str.replace('$', '').astype('float')

## 1. Show installed versions

In [5]:
pd.__version__

'1.5.2'

In [6]:
pd.show_versions()

C:\Users\carlo\.conda\envs\mitoenv\lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 8dab54d6573f7186ff0c3b6364d5e4dd635ff3e7
python           : 3.8.15.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19041
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 9, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : es_ES.cp1252

pandas           : 1.5.2
numpy            : 1.24.1
pytz             : 2022.7.1
dateutil         : 2.8.2
setuptools       : 65.6.3
pip              : 22.3.1
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : 3.0.2
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.8.0
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : None
gcsfs            : None
matplotlib       : 3.6.3
numba            : None
numexpr          : None
odfpy            : None
openpyxl         : 3.0.10
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : None
snappy           : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
zstandard        : None
tzdata           : None

## 2. Create an example DataFrame

In [24]:
df = pd.DataFrame({'col one': [100, 200], 'col two': [300, 400]})
df

   col one  col two
0      100      300
1      200      400

In [9]:
pd.DataFrame(np.random.rand(4, 8))

,0,1,2,3,4,5,6,7
0,0.432629,0.722930,0.692419,0.098142,0.745888,0.796257,0.245260,0.205388
1,0.394902,0.351604,0.941974,0.693602,0.823195,0.458389,0.370321,0.346554
2,0.791670,0.295222,0.890630,0.276360,0.425444,0.105773,0.032599,0.186404
3,0.163371,0.200218,0.293314,0.164124,0.470195,0.646023,0.490558,0.432649

In [10]:
pd.DataFrame(np.random.rand(4, 8), columns=list('abcdefgh'))

,a,b,c,d,e,f,g,h
0,0.361335,0.220943,0.593527,0.542604,0.411036,0.681957,0.792614,0.417300
1,0.949045,0.943608,0.049949,0.760905,0.790136,0.167799,0.083780,0.826277
2,0.429839,0.585251,0.472879,0.960841,0.879233,0.084890,0.622167,0.130723
3,0.430125,0.372928,0.624721,0.207350,0.560722,0.368620,0.328225,0.323384

## 3. Rename columns

In [25]:
df

   col one  col two
0      100      300
1      200      400

#### Tres formas de renombrar columnas

In [12]:
df = df.rename({'col one': 'col_one', 'col two': 'col_two'}, axis='columns')

In [21]:
df.columns = ['col_one', 'col_two']

In [26]:
df.columns = df.columns.str.replace(' ', '_')

In [27]:
df

   col_one  col_two
0      100      300
1      200      400

In [28]:
df.add_prefix('X_')

   X_col_one  X_col_two
0        100        300
1        200        400

In [29]:
df.add_suffix('_Y')

   col_one_Y  col_two_Y
0        100        300
1        200        400

## 4. Reverse row order

In [30]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [31]:
# AQUI INVIERTO LA LISTA
drinks.loc[::-1].head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
192,Zimbabwe,64,18,4,4.7,Africa
191,Zambia,32,19,4,2.5,Africa
190,Yemen,6,0,0,0.1,Asia
189,Vietnam,111,2,1,2.0,Asia
188,Venezuela,333,100,3,7.7,South America

In [32]:
# AQUI ORDENO LOS INDICES DE LA LISTA INVERTIDA
drinks.loc[::-1].reset_index(drop=True).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Zimbabwe,64,18,4,4.7,Africa
1,Zambia,32,19,4,2.5,Africa
2,Yemen,6,0,0,0.1,Asia
3,Vietnam,111,2,1,2.0,Asia
4,Venezuela,333,100,3,7.7,South America