#### Importando librerias necesarias

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from dateutil.relativedelta import relativedelta

In [35]:
data = pd.read_csv('/home/ubuntu/projects/codigofacilito/Pandas_ventas_sais_18-22.csv', sep=';', encoding='latin')
data

,Referencia,Descripción,Fecha,Salidas,Precio,"Pedido de venta -> Serie, ejercicio y nº pedido",Pedido de venta -> Nº pedido,Factura de venta -> Serie de factura emitida,Cliente,Cliente -> Nombre fiscal
0,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,17-Ene-2018,1.0,127.6400,01/03-N/18-00296,296.0,1.0,58291,SPANRED S.L.U.
1,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,5-Mar-2018,1.0,104.0000,01/03-N/18-01235,1235.0,1.0,15423,"BELSATI SISTEMAS, S.L."
2,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,7-Mar-2018,1.0,104.4300,01/04-M/18-00166,166.0,18.0,48078,GRUPO ELECTRO STOCKS S.L.U
3,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,12-Mar-2018,1.0,104.4300,01/04-M/18-00180,180.0,18.0,28786,COMPONENTES INFORMATICOS ASTURIAS S.L.
4,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,19-Mar-2018,1.0,86.0000,01/04-N/18-00009,9.0,1.0,58281,GESTSAI INGENIERIA SL
...,...,...,...,...,...,...,...,...,...,...
12878,PH 8032,Banco para Baterías (x12 baterias de 12V-9Ah) ...,25-Oct-2021,1.0,377.5600,01/04-M/21-00930,930.0,18.0,48078,GRUPO ELECTRO STOCKS S.L.U
12879,PH 8032,Banco para Baterías solo carcasa (x12 baterias...,26-Jul-2022,2.0,195.0000,01/08-N/22-02988,2988.0,1.0,65615,GIGATEK 2020 CONSULTORIA SLL
12880,PH 8032,Banco para Baterías solo carcasa (x12 baterias...,8-Ago-2022,3.0,188.2000,01/04-M/22-00627,627.0,18.0,48078,GRUPO ELECTRO STOCKS S.L.U
12881,PH 8030-RA+,"S.A.I. Phasak Conqueror Recondicionado ""Grado ...",29-Ago-2022,1.0,249.3000,01/09-PM/22-01462,1462.0,NaN,66756,CLIENTE FACTURA SIMPLIFICADA PC COMPONENTES
12882,PH 7312-RA+,"S.A.I. Phasak SIRIUS Recondicionado ""Grado A+""...",20-Sep-2022,1.0,102.0000,01/09-PM/22-01598,1598.0,45.0,66998,CLIENTE FACTURA SIMPLIFICADA ALI EXPRESS

In [36]:
data.dtypes

Referencia                                          object
Descripción                                         object
Fecha                                               object
Salidas                                            float64
Precio                                              object
Pedido de venta -> Serie, ejercicio y nº pedido     object
Pedido de venta -> Nº pedido                       float64
Factura de venta -> Serie de factura emitida       float64
Cliente                                             object
Cliente -> Nombre fiscal                            object
dtype: object

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12883 entries, 0 to 12882
Data columns (total 10 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Referencia                                       12883 non-null  object
 1   Descripción                                      12874 non-null  object
 2   Fecha                                            12873 non-null  object
 3   Salidas                                          12873 non-null  float64
 4   Precio                                           12873 non-null  object
 5   Pedido de venta -> Serie, ejercicio y nº pedido  12779 non-null  object
 6   Pedido de venta -> Nº pedido                     12779 non-null  float64
 7   Factura de venta -> Serie de factura emitida     12519 non-null  float64
 8   Cliente                                          12873 non-null  object
 9   Cliente -> Nombre fiscal                         12872 non-null  object
dtypes: float64(3), object(7)
memory usage: 1006.6+ KB

In [38]:
data.columns

Index(['Referencia', 'Descripción', 'Fecha', 'Salidas', 'Precio',
       'Pedido de venta -> Serie, ejercicio y nº pedido',
       'Pedido de venta -> Nº pedido',
       'Factura de venta -> Serie de factura emitida', 'Cliente',
       'Cliente -> Nombre fiscal'],
      dtype='object')

#### Aqui cambiamos el nombre a las columnas

In [102]:
data.rename(columns={'Cliente -> Nombre fiscal': 'nombre_cliente', 
                     'Pedido de venta -> Nº pedido': 'num_pedido', 
                     'Pedido de venta -> Serie, ejercicio y nº pedido': 'pedido',
                     'Factura de venta -> Serie de factura emitida': 'serie_factura',
                    }, inplace=True)
data.head()

,referencia,descripcion,fecha,salidas,precio,pedido,num_pedido,serie_factura,cliente,nombre_cliente
0,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,17-Ene-2018,1.0,127.6400,01/03-N/18-00296,296.0,1.0,58291,SPANRED S.L.U.
1,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,5-Mar-2018,1.0,104.0000,01/03-N/18-01235,1235.0,1.0,15423,"BELSATI SISTEMAS, S.L."
2,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,7-Mar-2018,1.0,104.4300,01/04-M/18-00166,166.0,18.0,48078,GRUPO ELECTRO STOCKS S.L.U
3,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,12-Mar-2018,1.0,104.4300,01/04-M/18-00180,180.0,18.0,28786,COMPONENTES INFORMATICOS ASTURIAS S.L.
4,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,19-Mar-2018,1.0,86.0000,01/04-N/18-00009,9.0,1.0,58281,GESTSAI INGENIERIA SL

In [103]:
data.head()

,referencia,descripcion,fecha,salidas,precio,pedido,num_pedido,serie_factura,cliente,nombre_cliente
0,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,17-Ene-2018,1.0,127.6400,01/03-N/18-00296,296.0,1.0,58291,SPANRED S.L.U.
1,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,5-Mar-2018,1.0,104.0000,01/03-N/18-01235,1235.0,1.0,15423,"BELSATI SISTEMAS, S.L."
2,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,7-Mar-2018,1.0,104.4300,01/04-M/18-00166,166.0,18.0,48078,GRUPO ELECTRO STOCKS S.L.U
3,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,12-Mar-2018,1.0,104.4300,01/04-M/18-00180,180.0,18.0,28786,COMPONENTES INFORMATICOS ASTURIAS S.L.
4,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,19-Mar-2018,1.0,86.0000,01/04-N/18-00009,9.0,1.0,58281,GESTSAI INGENIERIA SL

In [105]:
data.rename(columns={'Descripción': 'descripcion',
                     'Referencia': 'referencia',
                     'Fecha': 'fecha',
                     'Salidas': 'salidas', 
                     'Precio': 'precio',
                     'Cliente': 'cliente'}, inplace=True)

In [66]:
data.isnull().any()

referencia        False
descripcion        True
fecha              True
salidas            True
precio             True
pedido             True
num_pedido         True
serie_factura      True
cliente            True
nombre_cliente     True
dtype: bool

In [67]:
# Sumamos todos los datos nulos por columna y mostramos
pedidos_missing = data.isnull().sum()
pedidos_missing

referencia          0
descripcion         9
fecha              10
salidas            10
precio             10
pedido            104
num_pedido        104
serie_factura     364
cliente            10
nombre_cliente     11
dtype: int64

In [68]:
#importamos libreria para manejar fechas
from dateutil.relativedelta import relativedelta

In [69]:
#Aqui quitamos todos los nulos del dataframe y lo guardamos.
df = data.dropna()

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12517 entries, 0 to 12882
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   referencia      12517 non-null  object
 1   descripcion     12517 non-null  object
 2   fecha           12517 non-null  object
 3   salidas         12517 non-null  float64
 4   precio          12517 non-null  object
 5   pedido          12517 non-null  object
 6   num_pedido      12517 non-null  float64
 7   serie_factura   12517 non-null  float64
 8   cliente         12517 non-null  object
 9   nombre_cliente  12517 non-null  object
dtypes: float64(3), object(7)
memory usage: 1.1+ MB

#### En las siguientes lineas asignamos los tipos correctos de datos a cada columna

In [80]:
df["num_pedido"]= df["num_pedido"].astype('int64')

/tmp/ipykernel_254799/3988072517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["num_pedido"]= df["num_pedido"].astype('int64')

In [81]:
df["salidas"]= df["salidas"].astype('int64')

/tmp/ipykernel_254799/1431132011.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["salidas"]= df["salidas"].astype('int64')

In [82]:
df["precio"]= df["precio"].astype('float64')

/tmp/ipykernel_254799/2870409620.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["precio"]= df["precio"].astype('float64')

In [83]:
df["num_pedido"]= df["num_pedido"].astype('int64')

/tmp/ipykernel_254799/3988072517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["num_pedido"]= df["num_pedido"].astype('int64')

In [84]:
df["serie_factura"]= df["serie_factura"].astype('int64')

/tmp/ipykernel_254799/3351570582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["serie_factura"]= df["serie_factura"].astype('int64')

In [85]:
df["cliente"]= df["cliente"].astype('int64')

/tmp/ipykernel_254799/3264482647.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["cliente"]= df["cliente"].astype('int64')

In [72]:
df.head(10)

,referencia,descripcion,fecha,salidas,precio,pedido,num_pedido,serie_factura,cliente,nombre_cliente
0,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,17-Ene-2018,1.0,127.6400,01/03-N/18-00296,296.0,1,58291,SPANRED S.L.U.
1,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,5-Mar-2018,1.0,104.0000,01/03-N/18-01235,1235.0,1,15423,"BELSATI SISTEMAS, S.L."
2,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,7-Mar-2018,1.0,104.4300,01/04-M/18-00166,166.0,18,48078,GRUPO ELECTRO STOCKS S.L.U
3,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,12-Mar-2018,1.0,104.4300,01/04-M/18-00180,180.0,18,28786,COMPONENTES INFORMATICOS ASTURIAS S.L.
4,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,19-Mar-2018,1.0,86.0000,01/04-N/18-00009,9.0,1,58281,GESTSAI INGENIERIA SL
5,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,26-Mar-2018,2.0,127.6400,01/03-N/18-01613,1613.0,1,59299,"SHOTIS SERVICIOS TECNOLÓGICOS, S.L."
6,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,4-Abr-2018,1.0,112.0000,01/03-N/18-01742,1742.0,1,58291,SPANRED S.L.U.
7,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,16-Abr-2018,2.0,127.6400,01/03-N/18-01971,1971.0,1,49617,TELPLAY S.L.
8,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,20-Abr-2018,1.0,104.4300,01/04-M/18-00290,290.0,18,48078,GRUPO ELECTRO STOCKS S.L.U
9,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,24-May-2018,1.0,104.4300,01/04-M/18-00385,385.0,18,48078,GRUPO ELECTRO STOCKS S.L.U

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12517 entries, 0 to 12882
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   referencia      12517 non-null  object
 1   descripcion     12517 non-null  object
 2   fecha           12517 non-null  datetime64[ns]
 3   salidas         12517 non-null  int64
 4   precio          12517 non-null  float64
 5   pedido          12517 non-null  object
 6   num_pedido      12517 non-null  int64
 7   serie_factura   12517 non-null  int64
 8   cliente         12517 non-null  int64
 9   nombre_cliente  12517 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 1.1+ MB

In [ ]:
df.head(20)

### Me estaba dando un error con las fechas y es porque el formato 18 - Ene - 2021 esta en espanol y tiene que ser en Ingles 18 - Jan - 2021. Asi que cambiamos los nombres.

In [74]:
df['fecha'] = df['fecha'].str.replace('Ene','Jan')

/tmp/ipykernel_254799/1563049663.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fecha'] = df['fecha'].str.replace('Ene','Jan')

In [75]:
df['fecha'] = df['fecha'].str.replace('Abr','Apr')

/tmp/ipykernel_254799/3487459887.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fecha'] = df['fecha'].str.replace('Abr','Apr')

In [76]:
df['fecha'] = df['fecha'].str.replace('Ago','Aug')

/tmp/ipykernel_254799/2159912137.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fecha'] = df['fecha'].str.replace('Ago','Aug')

In [77]:
df['fecha'] = df['fecha'].str.replace('Dic','Dec')

/tmp/ipykernel_254799/1678617602.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fecha'] = df['fecha'].str.replace('Dic','Dec')

In [78]:
# Aqui aplicamos el formato fecha a la columna fecha y ahora si lo coge
df['fecha'] = pd.to_datetime(df['fecha'], format='%d-%b-%Y')

/tmp/ipykernel_254799/2264925295.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fecha'] = pd.to_datetime(df['fecha'], format='%d-%b-%Y')

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12517 entries, 0 to 12882
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   referencia      12517 non-null  object
 1   descripcion     12517 non-null  object
 2   fecha           12517 non-null  datetime64[ns]
 3   salidas         12517 non-null  int64
 4   precio          12517 non-null  float64
 5   pedido          12517 non-null  object
 6   num_pedido      12517 non-null  int64
 7   serie_factura   12517 non-null  int64
 8   cliente         12517 non-null  int64
 9   nombre_cliente  12517 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 1.1+ MB

In [ ]:
df.head(10)

Crear una nueva columna que contenga la fecha de fin del período de previsión, que será la fecha actual más 6 meses

In [88]:
# Agrupar los datos por referencia y calcular el total de ventas por referencia
ventas_referencia = df.groupby('referencia')['salidas'].sum()

In [92]:
ventas_referencia.head()

referencia
PH 7210        1020
PH 7266        6070
PH 7288        3494
PH 7312        1475
PH 7312-RA+       1
Name: salidas, dtype: int64

In [94]:
# Calcular la media móvil de las ventas por referencia en los últimos 4 años
ventas_referencia_movil = ventas_referencia.rolling(4).mean()

In [95]:
ventas_referencia_movil.head()

referencia
PH 7210            NaN
PH 7266            NaN
PH 7288            NaN
PH 7312        3014.75
PH 7312-RA+    2760.00
Name: salidas, dtype: float64

In [ ]:
# Calcular la previsión de ventas para los próximos 6 meses
prevision_ventas = pd.concat([ventas_referencia_movil, pd.Series([ventas_referencia_movil[-1]] * 6, index=range(len(ventas_referencia_movil), len(ventas_referencia_movil)+6))])

In [ ]:
# Visualizar la previsión de ventas
plt.plot(range(len(prevision_ventas)), prevision_ventas)
plt.xlabel('Mes')
plt.ylabel('Ventas')
plt.show()

In [ ]:
# Crear una columna con el mes de cada venta
df['mes'] = pd.to_datetime(df['fecha']).dt.month

In [ ]:
# Crear una columna con el mes de cada venta
df.loc[:, 'mes'] = pd.to_datetime(df['fecha']).dt.month

In [ ]:
# Agrupar los datos por mes y referencia y calcular el total de ventas por mes y referencia
ventas_mes_referencia = df.groupby(['mes', 'referencia'])['salidas'].sum()

In [ ]:
ventas_mes_referencia

In [ ]:
# Calcular la media móvil de las ventas por mes y referencia en los últimos 4 años
ventas_mes_referencia_movil = ventas_mes_referencia.rolling(window=4).mean()

In [ ]:
# Agrupar la media móvil de las ventas por referencia y seleccionar el último valor de la serie de ventas para cada referencia
ventas_referencia_movil = ventas_mes_referencia_movil.groupby('referencia').tail(1)

In [ ]:
# Para cada referencia, calcular la previsión de ventas para los próximos 6 meses
prevision_ventas = pd.concat([ventas_referencia_movil] * 6, ignore_index=True)

In [ ]:
# Importar matplotlib
import matplotlib.pyplot as plt

# Visualizar la previsión de ventas
plt.plot(prevision_ventas)
plt.xlabel('Mes')
plt.ylabel('Ventas')

In [ ]:
prevision_ventas

In [ ]:
ventas_referencia_movil

In [ ]:
# Exportar el DataFrame limpio a un fichero csv con separacion de comas
df.to_csv('/home/ubuntu/projects/codigofacilito/sais_definitivo.csv', sep=';')

In [97]:
import pandas as pd

dataframe=pd.DataFrame({'Attendance': {0: 60, 1: 100, 2: 80,3: 78,4: 95},
                        'Obtained Marks': {0: 90, 1: 75, 2: 82, 3: 64, 4: 45}})
print("The Original Data frame is: \n")
print(dataframe)

dataframe1 = dataframe.rolling(3).sum()
print("The Rolling Window After Calculation is: \n")
print(dataframe1)

The Original Data frame is:

   Attendance  Obtained Marks
0          60              90
1         100              75
2          80              82
3          78              64
4          95              45
The Rolling Window After Calculation is:

   Attendance  Obtained Marks
0         NaN             NaN
1         NaN             NaN
2       240.0           247.0
3       258.0           221.0
4       253.0           191.0

In [100]:
import numpy as np
import pandas as pd

#make this example reproducible
np.random.seed(0)

#create dataset
period = np.arange(1, 101, 1)
leads = np.random.uniform(1, 20, 100)
sales = 60 + 2*period + np.random.normal(loc=0, scale=.5*period, size=100)
df = pd.DataFrame({'period': period, 'leads': leads, 'sales': sales})

#view first 10 rows
df.head(10)

   period      leads      sales
0       1  11.427457  61.417425
1       2  14.588598  64.900826
2       3  12.452504  66.698494
3       4  11.352780  64.927513
4       5   9.049441  73.720630
5       6  13.271988  77.687668
6       7   9.314157  78.125728
7       8  17.943687  75.280301
8       9  19.309592  73.181613
9      10   8.285389  85.272259