Resumen de lo que he conseguido aqui:
- Se importan la librerias.
- Se importa el ficher csv indicando el tipo de separador que tiene.
- Se hace un .head() para echar un vistazo a los datos.
- Se ve si hay que modificar alguno de los encabezados de las columnas o Series. Esto se haria 
        
        df.rename(columns={'Cliente -> Nombre fiscal': 'nombre_cliente', 
                     'Pedido de venta -> Nº pedido': 'num_pedido', 
                     'Pedido de venta -> Serie, ejercicio y nº pedido': 'pedido',
                     'Factura de venta -> Serie de factura emitida': 'serie_factura',
                    }, inplace=True)

In [30]:
import pandas as pd
import numpy as np
from datetime import datetime
import datetime

In [15]:
df = pd.read_csv("/home/ubuntu/projects/codigofacilito/sais_definitivo.csv", sep=';')

In [16]:
df.head()

,Unnamed: 0,referencia,descripcion,fecha,salidas,precio,pedido,num_pedido,serie_factura,cliente,nombre_cliente,mes
0,0,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-01-17,1,127.64,01/03-N/18-00296,296,1,58291,SPANRED S.L.U.,1
1,1,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-03-05,1,104.00,01/03-N/18-01235,1235,1,15423,"BELSATI SISTEMAS, S.L.",3
2,2,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-03-07,1,104.43,01/04-M/18-00166,166,18,48078,GRUPO ELECTRO STOCKS S.L.U,3
3,3,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-03-12,1,104.43,01/04-M/18-00180,180,18,28786,COMPONENTES INFORMATICOS ASTURIAS S.L.,3
4,4,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-03-19,1,86.00,01/04-N/18-00009,9,1,58281,GESTSAI INGENIERIA SL,3

In [6]:
df.describe()

,Unnamed: 0,salidas,precio,num_pedido,serie_factura,cliente,mes
count,12517.000000,12517.000000,12517.000000,12517.000000,12517.000000,12517.000000,12517.000000
mean,6404.381801,3.279779,210.737472,1447.144124,14.053527,45899.186946,6.579692
std,3719.318665,7.748330,381.398528,1582.209620,14.964089,16277.210401,3.582607
min,0.000000,0.000000,0.000000,1.000000,1.000000,10016.000000,1.000000
25%,3172.000000,1.000000,41.140000,251.000000,1.000000,34760.000000,3.000000
50%,6401.000000,1.000000,83.460000,809.000000,18.000000,48078.000000,7.000000
75%,9606.000000,3.000000,235.500000,2150.000000,18.000000,57643.000000,10.000000
max,12882.000000,200.000000,5500.000000,6323.000000,49.000000,68926.000000,12.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12517 entries, 0 to 12516
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      12517 non-null  int64
 1   referencia      12517 non-null  object
 2   descripcion     12517 non-null  object
 3   fecha           12517 non-null  object
 4   salidas         12517 non-null  int64
 5   precio          12517 non-null  float64
 6   pedido          12517 non-null  object
 7   num_pedido      12517 non-null  int64
 8   serie_factura   12517 non-null  int64
 9   cliente         12517 non-null  int64
 10  nombre_cliente  12517 non-null  object
 11  mes             12517 non-null  int64
dtypes: float64(1), int64(6), object(5)
memory usage: 1.1+ MB

In [17]:
df['fecha'] = pd.to_datetime(df['fecha'])

In [22]:
df.dtypes

Unnamed: 0                 int64
referencia                object
descripcion               object
fecha             datetime64[ns]
salidas                    int64
precio                   float64
pedido                    object
num_pedido                 int64
serie_factura              int64
cliente                    int64
nombre_cliente            object
mes                        int64
dtype: object

In [23]:
df.to_csv('/home/ubuntu/projects/codigofacilito/sais_definitivo.csv', sep=';')

In [24]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [27]:
df.dtypes

referencia                object
descripcion               object
fecha             datetime64[ns]
salidas                    int64
precio                   float64
pedido                    object
num_pedido                 int64
serie_factura              int64
cliente                    int64
nombre_cliente            object
mes                        int64
dtype: object

In [28]:
df.to_csv('/home/ubuntu/projects/codigofacilito/sais_definitivo.csv', sep=';')

In [29]:
df.head()

,referencia,descripcion,fecha,salidas,precio,pedido,num_pedido,serie_factura,cliente,nombre_cliente,mes
0,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-01-17,1,127.64,01/03-N/18-00296,296,1,58291,SPANRED S.L.U.,1
1,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-03-05,1,104.00,01/03-N/18-01235,1235,1,15423,"BELSATI SISTEMAS, S.L.",3
2,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-03-07,1,104.43,01/04-M/18-00166,166,18,48078,GRUPO ELECTRO STOCKS S.L.U,3
3,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-03-12,1,104.43,01/04-M/18-00180,180,18,28786,COMPONENTES INFORMATICOS ASTURIAS S.L.,3
4,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-03-19,1,86.00,01/04-N/18-00009,9,1,58281,GESTSAI INGENIERIA SL,3

In [31]:
df['year'] = df['fecha'].dt.year

In [32]:
df.head()

,referencia,descripcion,fecha,salidas,precio,pedido,num_pedido,serie_factura,cliente,nombre_cliente,mes,year
0,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-01-17,1,127.64,01/03-N/18-00296,296,1,58291,SPANRED S.L.U.,1,2018
1,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-03-05,1,104.00,01/03-N/18-01235,1235,1,15423,"BELSATI SISTEMAS, S.L.",3,2018
2,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-03-07,1,104.43,01/04-M/18-00166,166,18,48078,GRUPO ELECTRO STOCKS S.L.U,3,2018
3,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-03-12,1,104.43,01/04-M/18-00180,180,18,28786,COMPONENTES INFORMATICOS ASTURIAS S.L.,3,2018
4,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-03-19,1,86.00,01/04-N/18-00009,9,1,58281,GESTSAI INGENIERIA SL,3,2018

In [35]:
df.dtypes

referencia                object
descripcion               object
fecha             datetime64[ns]
salidas                    int64
precio                   float64
pedido                    object
num_pedido                 int64
serie_factura              int64
cliente                    int64
nombre_cliente            object
mes                        int64
year                       int64
dtype: object

In [43]:
df_grouped_year = df.groupby(['year','mes','referencia'])

In [44]:
df_grouped_year.head()

,referencia,descripcion,fecha,salidas,precio,pedido,num_pedido,serie_factura,cliente,nombre_cliente,mes,year
0,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-01-17,1,127.64,01/03-N/18-00296,296,1,58291,SPANRED S.L.U.,1,2018
1,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-03-05,1,104.00,01/03-N/18-01235,1235,1,15423,"BELSATI SISTEMAS, S.L.",3,2018
2,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-03-07,1,104.43,01/04-M/18-00166,166,18,48078,GRUPO ELECTRO STOCKS S.L.U,3,2018
3,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-03-12,1,104.43,01/04-M/18-00180,180,18,28786,COMPONENTES INFORMATICOS ASTURIAS S.L.,3,2018
4,PH 9100,Modulo SNMP para S.A.I. Phasak con Intelligent...,2018-03-19,1,86.00,01/04-N/18-00009,9,1,58281,GESTSAI INGENIERIA SL,3,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
12510,PH 8030,SAI Phasak Conqueror Pro Online LCD 3000 VA,2022-11-24,1,355.47,01/04-M/22-00930,930,18,48078,GRUPO ELECTRO STOCKS S.L.U,11,2022
12513,PH 8032,Banco para Baterías (x12 baterias de 12V-9Ah) ...,2021-10-25,1,377.56,01/04-M/21-00930,930,18,48078,GRUPO ELECTRO STOCKS S.L.U,10,2021
12514,PH 8032,Banco para Baterías solo carcasa (x12 baterias...,2022-07-26,2,195.00,01/08-N/22-02988,2988,1,65615,GIGATEK 2020 CONSULTORIA SLL,7,2022
12515,PH 8032,Banco para Baterías solo carcasa (x12 baterias...,2022-08-08,3,188.20,01/04-M/22-00627,627,18,48078,GRUPO ELECTRO STOCKS S.L.U,8,2022
12516,PH 7312-RA+,"S.A.I. Phasak SIRIUS Recondicionado ""Grado A+""...",2022-09-20,1,102.00,01/09-PM/22-01598,1598,45,66998,CLIENTE FACTURA SIMPLIFICADA ALI EXPRESS,9,2022

In [46]:
df_grouped_salidas = df_grouped_year['salidas'].sum()

In [48]:
df_grouped_salidas.head(20)

year  mes  referencia
2018  1    PH 7210       37
           PH 7266       76
           PH 7288       66
           PH 7312       22
           PH 7315       25
           PH 7322       16
           PH 7512        7
           PH 7521        4
           PH 7530        2
           PH 7610        6
           PH 7621        5
           PH 7631        6
           PH 9100        1
           PH 9210       39
           PH 9220       22
           PH 9230       21
           PH 9260       13
           PH 9268        1
           PH 9270        5
           PH 9273        3
Name: salidas, dtype: int64

In [49]:
df_result = df_grouped_salidas.reset_index()

In [50]:
df_result

      year  mes referencia  salidas
0     2018    1    PH 7210       37
1     2018    1    PH 7266       76
2     2018    1    PH 7288       66
3     2018    1    PH 7312       22
4     2018    1    PH 7315       25
...    ...  ...        ...      ...
1810  2022   12    PH 9408        5
1811  2022   12    PH 9420       20
1812  2022   12    PH 9465        6
1813  2022   12    PH 9478        1
1814  2022   12    PH 9485        2

[1815 rows x 4 columns]

In [66]:
df_result.dtypes

year           int64
mes            int64
referencia    object
salidas        int64
dtype: object

In [62]:
filter_result_2022 = df_result['year']== 2022 # creamos el filtro de year igual a 2022. Devuelve booleanos.

In [64]:
df_result_2022 = df_result[filter_result_2022] # Pasamos el filtro al dataframe para que nos de datos y los guardamos

In [65]:
df_result_2022 # Aqui ya tenemos agrupados por year-mes-referencia sumado por salidas y filtrado por year 2022

      year  mes referencia  salidas
1410  2022    1    PH 7210       11
1411  2022    1    PH 7266      125
1412  2022    1    PH 7288       19
1413  2022    1    PH 7312       23
1414  2022    1    PH 7315       28
...    ...  ...        ...      ...
1810  2022   12    PH 9408        5
1811  2022   12    PH 9420       20
1812  2022   12    PH 9465        6
1813  2022   12    PH 9478        1
1814  2022   12    PH 9485        2

[405 rows x 4 columns]

In [67]:
df_pivoted = df_result_2022.pivot_table(index='referencia', columns='mes', values='salidas')

In [68]:
df_pivoted

mes,1,2,3,4,5,6,7,8,9,10,11,12
referencia,,,,,,,,,,,,
PH 7210,11.0,5.0,31.0,66.0,19.0,4.0,15.0,11.0,39.0,29.0,54.0,NaN
PH 7266,125.0,63.0,135.0,289.0,165.0,321.0,331.0,254.0,174.0,6.0,456.0,4.0
PH 7288,19.0,26.0,56.0,148.0,125.0,9.0,100.0,36.0,72.0,104.0,215.0,NaN
PH 7312,23.0,47.0,80.0,42.0,31.0,97.0,46.0,70.0,29.0,2.0,110.0,18.0
PH 7312-RA+,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
PH 7315,28.0,17.0,25.0,9.0,34.0,16.0,17.0,3.0,21.0,30.0,29.0,NaN
PH 7322,6.0,29.0,28.0,15.0,20.0,48.0,29.0,26.0,19.0,46.0,64.0,NaN
PH 7512,1.0,10.0,NaN,3.0,2.0,4.0,14.0,4.0,1.0,6.0,18.0,NaN
PH 7521,12.0,4.0,20.0,1.0,2.0,6.0,5.0,9.0,8.0,3.0,28.0,NaN
PH 7530,NaN,3.0,4.0,3.0,1.0,2.0,2.0,6.0,1.0,5.0,34.0,NaN
PH 7610,2.0,5.0,1.0,NaN,3.0,2.0,NaN,NaN,NaN,NaN,13.0,NaN
PH 7621,3.0,13.0,15.0,3.0,26.0,19.0,4.0,5.0,2.0,10.0,28.0,NaN
PH 7631,5.0,2.0,2.0,3.0,1.0,2.0,7.0,2.0,1.0,1.0,4.0,NaN
PH 7690,6.0,2.0,9.0,1.0,6.0,5.0,NaN,NaN,NaN,5.0,5.0,NaN
PH 8010,NaN,NaN,NaN,10.0,1.0,2.0,6.0,8.0,6.0,8.0,12.0,1.0
PH 8020,1.0,NaN,1.0,6.0,3.0,3.0,4.0,4.0,6.0,8.0,12.0,2.0
PH 8022,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
PH 8030,5.0,13.0,NaN,8.0,8.0,20.0,22.0,12.0,4.0,23.0,15.0,NaN
PH 8032,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0,NaN,NaN,NaN,NaN
PH 9100,1.0,1.0,8.0,1.0,13.0,8.0,4.0,2.0,1.0,4.0,6.0,NaN
PH 9102,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2.0,2.0,NaN
PH 9103,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
PH 9205,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
PH 9210,25.0,31.0,38.0,21.0,45.0,23.0,28.0,27.0,31.0,39.0,49.0,12.0
PH 9220,23.0,20.0,27.0,22.0,25.0,17.0,30.0,11.0,19.0,32.0,45.0,5.0
PH 9230,12.0,9.0,22.0,15.0,12.0,18.0,19.0,20.0,14.0,37.0,35.0,1.0
PH 9232,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
PH 9260,9.0,5.0,6.0,3.0,5.0,9.0,8.0,12.0,7.0,2.0,9.0,1.0
PH 9262,1.0,NaN,NaN,NaN,NaN,2.0,NaN,1.0,NaN,NaN,NaN,NaN
PH 9268,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN
PH 9270,4.0,3.0,2.0,4.0,4.0,3.0,3.0,3.0,2.0,2.0,4.0,2.0
PH 9273,NaN,2.0,1.0,2.0,1.0,2.0,4.0,1.0,1.0,1.0,2.0,NaN
PH 9274,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PH 9283,NaN,NaN,NaN,NaN,1.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN
PH 9293,NaN,1.0,1.0,2.0,2.0,1.0,1.0,NaN,1.0,2.0,2.0,1.0
PH 9301,1.0,NaN,1.0,1.0,NaN,5.0,1.0,NaN,NaN,3.0,NaN,NaN
PH 9315,3.0,6.0,11.0,5.0,5.0,3.0,2.0,2.0,1.0,3.0,5.0,2.0
PH 9330,5.0,8.0,9.0,12.0,8.0,5.0,8.0,8.0,6.0,16.0,14.0,NaN
PH 9332,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PH 9360,2.0,2.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,2.0,4.0,NaN
PH 9362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
PH 9406,5.0,NaN,43.0,116.0,60.0,62.0,175.0,110.0,66.0,162.0,205.0,6.0
PH 9408,60.0,68.0,140.0,137.0,49.0,124.0,106.0,109.0,117.0,119.0,166.0,5.0
PH 9410,43.0,21.0,69.0,65.0,57.0,42.0,52.0,36.0,44.0,93.0,110.0,NaN
PH 9420,3.0,1.0,17.0,20.0,37.0,28.0,46.0,51.0,52.0,59.0,74.0,20.0
PH 9464,39.0,14.0,23.0,NaN,2.0,28.0,11.0,7.0,11.0,25.0,24.0,NaN
PH 9465,10.0,NaN,48.0,109.0,27.0,13.0,14.0,17.0,22.0,28.0,25.0,6.0
PH 9478,10.0,17.0,5.0,12.0,4.0,40.0,NaN,NaN,107.0,NaN,8.0,1.0
PH 9485,37.0,25.0,35.0,93.0,41.0,21.0,10.0,16.0,24.0,25.0,58.0,2.0